body {
  padding-bottom: 20px;
}

.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.footer {
  padding-top: 19px;
  color: #777;
  /*border-top: 1px solid #e5e5e5;*/
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}


@media screen and (min-width: 768px) {
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }

    @media (min-width: 768px) {
        .navbar-nav {
            float: left;
            margin: auto;
            padding: 20px;
        }
    }

    .item img {
        height: 100%;
        width: 100%;
    }

    .fill {
        width: 100%;
        height: 100%;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }

    .thumbnail h3 {
        text-align: center;
    }

    .thumbnail p {
        margin: 12px 18px 10px;
        text-align: center;
    }

    .form-signin {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }

    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 10px;
    }

    .form-signin .checkbox {
        font-weight: normal;
    }

    .form-signin .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }

    .form-signin .form-control:focus {
        z-index: 2;
    }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .caption p {
        text-align: center;
    }
}

/* lysak */

.jumbotron {
    margin-bottom: 0;
}

.six{
    margin-top: 20px;
}

.six div img {
    max-width: 100%;
    max-height: 250px;
    align-self:center;
}

.center {
    height: 250px;
    display: flex;
    justify-content: center;
}

.carousel-inner {
    height: 394px;
}

.blog img {
    height: 400px;
}

.thumbnail h4 {
    text-align: center;
}

.paginate {
    width: 100%;
    display: flex;
    justify-content: center;
}

.disabled {
    -webkit-user-select: none;

    -moz-user-select: none;

    -ms-user-select: none;
}

.site {
    width: 100%;
    display: flex;
    justify-content: center;
}

.jumbotron p, h1 {
    text-align: center;
}

/* .content {
    width: 50%;
    margin: 100px auto;
    border: 1ps solid #cbcbcb;
} */

.post {
    /* width: 80%; */
    /* margin: 10px auto; */
    /* border: 1px solid #cbcbcb; */
    /* padding: 10px; */
    text-align: center;
}
.like {
    padding: 5px 21px;
}
.unlike {
    padding: 5px 16px;
}